<!DOCTYPE html>
<html>
<head>
  <title>CcMenu</title>
  <%= stylesheet_link_tag    "cc_menu/application", :media => "all" %>
  <%= javascript_include_tag "cc_menu/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
